code/local/Progos/DynamicsERP/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="salesOrderItemEntity">
                <all>
                    <element name="parent_item_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderEntity">
                <all>
                    <element name="coupon_code" type="xsd:string" minOccurs="0" />
                    <element name="protect_code" type="xsd:string" minOccurs="0" />
                    <element name="msp_cashondelivery" type="xsd:string" minOccurs="0" />
                    <element name="msp_base_cashondelivery" type="xsd:string" minOccurs="0" />
                    <element name="msp_base_cashondelivery_incl_tax" type="xsd:string" minOccurs="0" /> 
                    <element name="msp_cashondelivery_incl_tax" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
        </schema>
    </types>
</definitions>